.wP {
    background-image: url("../assets/pieces/wpawn.svg");
}

.wN {
    background-image: url("../assets/pieces/wknight.svg");
}

.wB {
    background-image: url("../assets/pieces/wbishop.svg");
}

.wR {
    background-image: url("../assets/pieces/wrook.svg");
}

.wQ {
    background-image: url("../assets/pieces/wqueen.svg");
}

.wK {
    background-image: url("../assets/pieces/wking.svg");
}

.bP {
    background-image: url("../assets/pieces/bpawn.svg");
}

.bN {
    background-image: url("../assets/pieces/bknight.svg");
}

.bB {
    background-image: url("../assets/pieces/bbishop.svg");
}

.bR {
    background-image: url("../assets/pieces/brook.svg");
}

.bQ {
    background-image: url("../assets/pieces/bqueen.svg");
}

.bK {
    background-image: url("../assets/pieces/bking.svg");
}

.piece {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 90%;
    pointer-events: none;
}